.title {
    margin-top: 20px;
    text-align: center;
    color: var(--text-white)
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 30px;
}

