.form {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.input {
    padding: 0 10px;
    width: 300px;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}

.input:focus {
    outline: 1px var(--btn-primary) solid
}

.btn {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-white);
    background-color: var(--btn-primary);
    width: 80px;
    margin-left: 7px;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 250ms linear, background-color 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05) ;
    background-color: var(--btn-hover);
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 30px;
}

.notFound {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    color: var(--text-grey);
}

.notFoundName {
    color: var(--text-white);
}